<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link rel="stylesheet" href="css/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body >
<section class="home">
    <header>
        <img src="/images/mercadolibre.png" alt="">
        
        <img class="imagenpequena"  class="imagen" src="/images/image.png" alt="">
   
     
        <h3 id="subtitulo" ><i class="fa-solid fa-money-bills"></i>Comprá en cuotas y sin tarjeta de crédito</i></h3>

            <nav class="nav ul">
            <ul>
                <li><a href="/Ofertas">Ofertas</a></li>
                <li><a href="/Tiendas-Oficiales">Tiendas Oficiales</a></li>
                <li><a href="/Vender">Vender</a></li>
                <li><a href="/Ayuda">Ayuda</a></li>
            </ul>
        </nav><br>

        <nav class="nav">
        <ul>
            <li><a href="/crea-tu-cuenta">Crea tu cuenta <i class="fa-solid fa-user-large"></i></a><i class="fa-solid fa-address-card"></i></li>
            <li><a href="/ingresa">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="/mis-compras">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>

    </nav>
    
    </header>
</section>
    <main>
             
        <div>
            <img src="/images/img-home-banner.jpg" alt="">
        </div>
        
<h1 class="texto">Basado en su ultima vista</h1>
<img src="/images/img-cafetera-moulinex.jpg" alt="">
<p class="precios">
$6.770 <br></p>
 <p class="descuentos">
40% OFF</p>
<h4 class="descripcion">Cafetera Moulinex</h4>


<img src="/images/img-macbook-pro-2019.jpg" alt="">

<p class="precios">
$230.000 <br></p>
<p class="descuentos">
20% off</p>
<h4 class="descripcion">MacBook Pro 2019</h4>


<img src="/images/img-samsung-galaxy-s10.jpg" alt="">
<p class="precios">
    $70.500 <br></p>
    <p class="descuentos"> 10% off</p>
<h4 class="descripcion">Samsung Galaxy S10</h4>



<img src="/images/img-tv-samsung-smart.jpg" alt="">

<p class="precios"> 23.200 <br></p>
<p class="descuentos">
5% off</p>
<h4 class="descripcion">SmartTv Samsung 43"</h4>


<h1 class="texto">Seccion de ofertas</h1>
<div>
<img src="/images/img-cafetera-moulinex.jpg" alt="">
<p class="precios">
$6.770 <br></p>
<p class="descuentos">40% OFF</p>
<h4 class="descripcion">Cafetera Moulinex</h4> 


<img src="/images/img-macbook-pro-2019.jpg" alt="">
<p class="precios">
$230.000 <br></p>
<p class="descuentos">
20% off</p>
<h4 class="descripcion">MacBook Pro 2019</h4>


<img src="/images/img-samsung-galaxy-s10.jpg" alt="">
<p class="precios">
    $70.500 <br></p>
    <p class="descuentos"> 10% off</p>
<h4 class="descripcion">Samsung Galaxy S10</h4>


<img src="/images/img-tv-samsung-smart.jpg" alt="">

<p class="precios">$23.200 <br></p>
    <p class="descuentos">
5% off</p>
<h4 class="descripcion">SmartTv Samsung 43"</h4></div>
</main>

<footer class="txt">

    <i class="fa-brands fa-cc-mastercard" id="icons"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>

    <i class="fa-solid fa-gift"  id="icons"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>
    
    <i class="fa-solid fa-lock" id="icons"></i>
    <h3>Seguridad, de principio a fin.</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
 
</footer>
</body>
</html>
